body {
    position: relative;
    width: 1440px;
    height: 5017px;

    background: #151719;
}

.btn {
    width: 96px;
    height: 40px;

    position: absolute;
    left: 1176px;
    right: 168px;
    top: 20px;
    bottom: 20px;

    background: #5D5DFF;
    box-shadow: 0px 1px 3px rgba(25, 32, 44, 0.04);
    border-radius: 2px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.25px;

    color: #FFFFFF;
}

.doc {
    width: 113px;
    height: 24px;
    top: 27px;
    left: 1016px;
    right: 311px;
    bottom: 4966px;
    position: absolute;
    background: #151719;
    border: none;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.25px;

    color: #C5D2DC;
}

.alfa {
    position: absolute;
    height: 62px;
    left: 336px;
    right: 336px;
    top: 160px;
    bottom: 4795px;

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 62px;


    text-align: center;
    letter-spacing: -0.5px;

    color: #D9E3EA;
}

.top-2 {
    position: absolute;
    height: 60px;
    left: 336px;
    right: 336px;
    top: 238px;
    bottom: 4719px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.bot-1 {
    position: absolute;
    left: 556px;
    right: 717px;
    top: 330px;
    bottom: 4639px;

    background: #5D5DFF;
    box-shadow: 0px 10px 15px -3px rgba(21, 23, 25, 0.16);
    border-radius: 2px;
    border: none;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.25px;

    color: #FFFFFF;
}

.bot-2 {
    position: absolute;
    left: 735px;
    right: 556px;
    top: 330px;
    bottom: 4639px;

    background: #33363A;
    box-shadow: 0px 10px 15px -3px rgba(21, 23, 25, 0.16);
    border-radius: 2px;
    border: none;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.25px;

    color: #C5D2DC;
}

.pict {
    position: absolute;
    width: 1024px;
    height: 576px;
    left: 208px;
    right: 208px;
    top: 442px;
    bottom: 3999px;

    background-image: url(/annie-spratt@2x.png);
    mix-blend-mode: normal;
    opacity: 0.88;
}

.pict-2 {
    position: absolute;
    width: 88px;
    height: 88px;
    left: 676px;
    top: 686px;

    box-shadow: 0px 16px 32px rgba(21, 23, 25, 0.24);
}

.pict-3 {
    position: absolute;
    width: 52px;
    height: 56px;
    left: 696px;
    top: 704px;

    box-shadow: 0px 16px 32px rgba(16, 22, 65, 0.24);
}

.top-3 {
    position: absolute;
    height: 50px;
    left: 336px;
    right: 336px;
    top: 1146px;
    bottom: 3821px;

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;

    text-align: center;
    letter-spacing: -0.5px;

    color: #D9E3EA;
}

.top-4 {
    position: absolute;
    height: 60px;
    left: 336px;
    right: 336px;
    top: 1213px;
    bottom: 3744px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.hash {
    position: absolute;
    height: 34px;
    left: 188px;
    right: 966px;
    top: 1433px;
    bottom: 3550px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.hash1 {
    position: absolute;
    height: 108px;
    left: 168px;
    right: 947px;
    top: 1475px;
    bottom: 3434px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.hash2 {
    position: absolute;
    height: 34px;
    left: 595px;
    right: 594px;
    top: 1433px;
    bottom: 3550px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #D9E3EA;

}

.hash-2 {
    position: absolute;
    height: 108px;
    left: 557px;
    right: 557px;
    top: 1475px;
    bottom: 3434px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.hash3 {
    position: absolute;
    height: 34px;
    left: 984px;
    right: 204px;
    top: 1433px;
    bottom: 3550px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.hash-3 {
    position: absolute;
    height: 108px;
    left: 947px;
    right: 168px;
    top: 1475px;
    bottom: 3434px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.hash4 {
    position: absolute;
    height: 34px;
    left: 188px;
    right: 966px;
    top: 1727px;
    bottom: 3256px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.hash-4 {
    position: absolute;
    height: 108px;
    left: 168px;
    right: 947px;
    top: 1769px;
    bottom: 3140px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.hash5 {
    position: absolute;
    height: 34px;
    left: 595px;
    right: 594px;
    top: 1727px;
    bottom: 3256px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.hash-5 {
    position: absolute;
    height: 108px;
    left: 557px;
    right: 557px;
    top: 1769px;
    bottom: 3140px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.hash6 {
    position: absolute;
    height: 34px;
    left: 984px;
    right: 204px;
    top: 1727px;
    bottom: 3256px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.hash-6 {
    position: absolute;
    height: 108px;
    left: 947px;
    right: 168px;
    top: 1769px;
    bottom: 3140px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.shrift {
    position: absolute;
    width: 1104px;
    height: 1px;
    left: 168px;
    top: 1957px;

    background: #33363A;
}

.reach {
    position: absolute;
    left: 627px;
    right: 627px;
    top: 2038px;
    bottom: 2949px;

    background: #C6F6D5;
    box-shadow: 0px 1px 3px rgba(25, 32, 44, 0.04);
    border-radius: 15px;
    border-color: #36A269;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;

    color: #36A269;
}

.prod {
    position: absolute;
    height: 50px;
    left: 342px;
    right: 330px;
    top: 2084px;
    bottom: 2883px;

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;

    text-align: center;
    letter-spacing: -0.5px;

    color: #D9E3EA;
}

.prod1 {
    position: absolute;
    height: 60px;
    left: 342px;
    right: 330px;
    top: 2150px;
    bottom: 2807px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.step-1 {
    position: absolute;
    height: 30px;
    left: 174px;
    right: 1034px;
    top: 2347px;
    bottom: 2640px;

    font-family: "Architects Daughter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: 0.25px;

    color: #5D5DFF;
}

.step-2 {
    position: absolute;
    height: 42px;
    left: 174px;
    right: 766px;
    top: 2385px;
    bottom: 2590px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;

    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.step-3 {
    position: absolute;
    height: 90px;
    left: 174px;
    right: 766px;
    top: 2436px;
    bottom: 2491px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.park1 {
    position: absolute;
    height: 27px;
    left: 194px;
    right: 935px;
    top: 2542px;
    bottom: 2448px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.park2 {
    position: absolute;
    height: 27px;
    left: 194px;
    right: 1044px;
    top: 2577px;
    bottom: 2413px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.park3 {
    position: absolute;
    height: 27px;
    left: 194px;
    right: 938px;
    top: 2612px;
    bottom: 2378px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.pi2 {
    position: absolute;
    width: 540px;
    height: 405px;
    left: 738px;
    top: 2290px;

    background: #25282C;
}

.pi3 {
    position: absolute;
    width: 508px;
    height: 1px;
    left: 754px;
    top: 2322px;
    right: 178px;
    bottom: 2694px;

    background: #33363A;
}

.pi4 {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 754px;
    right: 658px;
    top: 2337px;
    bottom: 2652px;

    background: url(/Rectangle1.png);
    filter: drop-shadow(0px 0px 2px rgba(21, 23, 25, 0.04));
    border-radius: 14px;
}

.step1-1 {
    position: absolute;
    height: 30px;
    left: 778px;
    right: 430px;
    top: 2832px;
    bottom: 2155px;

    font-family: Architects Daughter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: 0.25px;

    color: #5D5DFF;
}

.step2-2 {
    position: absolute;
    height: 42px;
    left: 778px;
    right: 162px;
    top: 2870px;
    bottom: 2105px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;

    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.step3-3 {
    position: absolute;
    height: 90px;
    left: 778px;
    right: 162px;
    top: 2921px;
    bottom: 2006px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.park1-1 {
    position: absolute;
    height: 27px;
    left: 798px;
    right: 331px;
    top: 3027px;
    bottom: 1963px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.park2-2 {
    position: absolute;
    height: 27px;
    left: 798px;
    right: 440px;
    top: 3062px;
    bottom: 1928px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.park3-3 {
    position: absolute;
    height: 27px;
    left: 798px;
    right: 334px;
    top: 3097px;
    bottom: 1893px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.pi2-2 {
    position: absolute;
    width: 540px;
    height: 405px;
    left: 174px;
    top: 2775px;

    background: #25282C;
}

.pi3-3 {
    position: absolute;
    width: 508px;
    height: 1px;
    left: 190px;
    top: 2807px;

    background: #33363A;
}

.pi4-4 {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 190px;
    top: 2822px;

    background: url(/Rectangle1.png);
    filter: drop-shadow(0px 0px 2px rgba(21, 23, 25, 0.04));
    border-radius: 14px;
}

.step1-1-1 {
    position: absolute;
    height: 30px;
    left: 174px;
    right: 1034px;
    top: 3317px;
    bottom: 1670px;

    font-family: Architects Daughter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: 0.25px;

    color: #5D5DFF;
}

.step2-2-2 {
    position: absolute;
    height: 42px;
    left: 174px;
    right: 766px;
    top: 3350px;
    bottom: 1620px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;

    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.step3-3-3 {
    position: absolute;
    height: 90px;
    left: 174px;
    right: 766px;
    top: 3406px;
    bottom: 1521px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.park1-1-1 {
    position: absolute;
    height: 27px;
    left: 194px;
    right: 935px;
    top: 3512px;
    bottom: 1478px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.park2-2-2 {
    position: absolute;
    height: 27px;
    left: 194px;
    right: 1044px;
    top: 3547px;
    bottom: 1443px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.park3-3-3 {
    position: absolute;
    height: 27px;
    left: 194px;
    right: 938px;
    top: 3582px;
    bottom: 1408px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.pi2-2-3 {
    position: absolute;
    width: 540px;
    height: 405px;
    left: 738px;
    top: 3260px;

    background: #25282C;
}

.pi3-3-4 {
    position: absolute;
    width: 508px;
    height: 1px;
    left: 754px;
    top: 3292px;

    background: #33363A;
}

.pi4-4-5 {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 754px;
    top: 3307px;

    background: url(/Rectangle1.png);
    filter: drop-shadow(0px 0px 2px rgba(21, 23, 25, 0.04));
    border-radius: 14px;
}

.beta {
    position: absolute;
    width: 1104px;
    height: 1px;
    left: 174px;
    top: 3745px;

    background: #33363A;
}

.word {
    position: absolute;
    height: 50px;
    left: 336px;
    right: 336px;
    top: 3826px;
    bottom: 1141px;

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;

    text-align: center;
    letter-spacing: -0.5px;

    color: #D9E3EA;
}

.word1 {
    position: absolute;
    height: 60px;
    left: 336px;
    right: 336px;
    top: 3892px;
    bottom: 1065px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.kvadrat {
    position: absolute;
    width: 352px;
    height: 339px;
    left: 168px;
    top: 4032px;

    background: #25282C;
}

.oval {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 192px;
    top: 4056px;

    background: url(/Oval.png);
}

.skoba {
    position: absolute;
    width: 24px;
    height: 18.05px;
    left: 228px;
    top: 4056px;
}

.answer {
    position: absolute;
    height: 162px;
    left: 192px;
    right: 944px;
    top: 4120px;
    bottom: 735px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.after {
    position: absolute;
    left: 192px;
    right: 952px;
    top: 4306px;
    bottom: 710px;

    background: #33363A;
}

.diff {
    position: absolute;
    height: 24px;
    left: 192px;
    right: 968px;
    top: 4327px;
    bottom: 666px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.kvadrat1 {
    position: absolute;
    width: 352px;
    height: 339px;
    left: 544px;
    top: 4032px;

    background: #25282C;
}

.oval1 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 568px;
    top: 4056px;
}

.answer1 {
    position: absolute;
    height: 162px;
    left: 568px;
    right: 568px;
    top: 4120px;
    bottom: 735px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.after1 {
    position: absolute;
    left: 568px;
    right: 576px;
    top: 4306px;
    bottom: 710px;

    background: #33363A;
}

.diff1 {
    position: absolute;
    height: 24px;
    left: 568px;
    right: 592px;
    top: 4327px;
    bottom: 666px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.skoba1 {
    position: absolute;
    width: 24px;
    height: 18.05px;
    left: 604px;
    top: 4056px;
}

.kvadrat2 {
    position: absolute;
    width: 352px;
    height: 339px;
    left: 920px;
    top: 4032px;

    background: #25282C;
}

.oval2 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 944px;
    top: 4056px;

    background: url(/Oval2.png);
}

.skoba2 {
    position: absolute;
    width: 24px;
    height: 18.05px;
    left: 980px;
    top: 4056px;
}

.answer2 {
    position: absolute;
    height: 162px;
    left: 944px;
    right: 192px;
    top: 4120px;
    bottom: 735px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.after2 {
    position: absolute;
    left: 944px;
    right: 200px;
    top: 4306px;
    bottom: 710px;

    background: #33363A;
}

.diff2 {
    position: absolute;
    height: 24px;
    left: 944px;
    right: 216px;
    top: 4327px;
    bottom: 666px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.25px;

    color: #D9E3EA;
}

.table {
    position: absolute;
    width: 1104px;
    height: 206px;
    left: 168px;
    top: 4451px;

    background: #5D5DFF;
}

.loop {
    position: absolute;
    height: 42px;
    left: 216px;
    right: 724px;
    top: 4516px;
    bottom: 459px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;

    letter-spacing: -0.25px;

    color: #FFFFFF;
}

.page {
    position: absolute;
    height: 27px;
    left: 216px;
    right: 747px;
    top: 4566px;
    bottom: 424px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.25px;

    color: #E2E1FF;
}

.form_input {
    position: absolute;
    width: 320px;
    height: 48px;
    left: 757px;
    right: 363px;
    top: 4530px;
    bottom: 439px;

    background: #4B4ACF;
    border: 1px solid #8D8DFF;
    box-sizing: border-box;
    border-radius: 2px;
}

.sub {
    position: absolute;
    width: 139px;
    height: 48px;
    left: 1085px;
    right: 216px;
    top: 4530px;
    bottom: 4539px;
    border-color: #5D5DFF;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.25px;

    color: #5D5DFF;
}

.end {
    position: absolute;
    height: 96px;
    left: 168px;
    right: 920px;
    top: 4767px;
    bottom: 154px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.25px;

    color: #9BA9B4;
}

.end-2 {
    position: absolute;
    height: 22px;
    left: 689px;
    right: 690px;
    top: 4721px;
    bottom: 274px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: #D9E3EA;
}

.end-3 {
    position: absolute;
    height: 22px;
    left: 689px;
    right: 675px;
    top: 4747px;
    bottom: 248px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-4 {
    position: absolute;
    height: 22px;
    left: 689px;
    right: 638px;
    top: 4773px;
    bottom: 222px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-5 {
    position: absolute;
    height: 22px;
    left: 689px;
    right: 618px;
    top: 4799px;
    bottom: 196px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-6 {
    position: absolute;
    height: 22px;
    left: 903px;
    right: 466px;
    top: 4721px;
    bottom: 274px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: #D9E3EA;
}

.end-7 {
    position: absolute;
    height: 22px;
    left: 903px;
    right: 402px;
    top: 4747px;
    bottom: 248px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-8 {
    position: absolute;
    height: 22px;
    left: 903px;
    right: 433px;
    top: 4773px;
    bottom: 222px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-9 {
    position: absolute;
    height: 22px;
    left: 903px;
    right: 402px;
    top: 4799px;
    bottom: 196px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-10 {
    position: absolute;
    height: 22px;
    left: 903px;
    right: 433px;
    top: 4825px;
    bottom: 170px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-11 {
    position: absolute;
    height: 22px;
    left: 903px;
    right: 402px;
    top: 4851px;
    bottom: 144px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-12 {
    position: absolute;
    height: 22px;
    left: 1119px;
    right: 257px;
    top: 4721px;
    bottom: 274px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: #D9E3EA;
}

.end-13 {
    position: absolute;
    height: 22px;
    left: 1119px;
    right: 168px;
    top: 4747px;
    bottom: 248px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-14 {
    position: absolute;
    height: 22px;
    left: 1119px;
    right: 212px;
    top: 4773px;
    bottom: 222px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-15 {
    position: absolute;
    height: 22px;
    left: 1119px;
    right: 168px;
    top: 4799px;
    bottom: 196px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-16 {
    position: absolute;
    height: 22px;
    left: 1119px;
    right: 212px;
    top: 4825px;
    bottom: 170px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-17 {
    position: absolute;
    height: 22px;
    left: 1119px;
    right: 168px;
    top: 4851px;
    bottom: 144px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.end-18 {
    position: absolute;
    height: 22px;
    left: 168px;
    right: 1017px;
    top: 4926px;
    bottom: 69px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #9BA9B4;
}

.bird {
    position: absolute;
    left: 1048px;
    right: 360px;
    top: 4921px;
    bottom: 64px;

    background: #25282C;
    border-radius: 16px;
}

.bird-1 {
    position: absolute;
    left: 1056px;
    right: 368px;
    top: 4931px;
    bottom: 73px;
}

.bird-2 {
    position: absolute;
    left: 1096px;
    right: 312px;
    top: 4922px;
    bottom: 63px;

    background: #25282C;
    border-radius: 16px;
}

.bird-3 {
    position: absolute;
    left: 1104px;
    right: 319.9px;
    top: 4930.2px;
    bottom: 71.18px;
}

.bird-4 {
    position: absolute;
    left: 1144px;
    right: 264px;
    top: 4922px;
    bottom: 63px;

    background: #25282C;
    border-radius: 16px;
}

.bird-5 {
    position: absolute;
    left: 1155px;
    right: 275px;
    top: 4930px;
    bottom: 71px;
}

.bird-6 {
    position: absolute;
    left: 1192px;
    right: 216px;
    top: 4922px;
    bottom: 63px;

    background: #25282C;
    border-radius: 16px;
}

.bird-7 {
    position: absolute;
    left: 1200px;
    right: 224px;
    top: 4930px;
    bottom: 71px;
}

.bird-8 {
    position: absolute;
    left: 1240px;
    right: 168px;
    top: 4922px;
    bottom: 63px;

    background: #25282C;
    border-radius: 16px;
}

.bird-9 {
    position: absolute;
    left: 1248px;
    right: 175.9px;
    top: 4930px;
    bottom: 71px;
}

.pink {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 299px;
    top: 1353px;

    background: #5D5DFF;
    border-radius: 32px;
}

.pink-1 {
    position: absolute;
    width: 20px;
    height: 19.02px;
    left: 321px;
    top: 1375.49px;

    border: 2px none #F4F4FF;
}

.pink-2 {
    position: absolute;
    width: 9px;
    height: 1px;
    left: 333px;
    top: 1389.5px;

    border: 2px none #CBCCFF;
}

.pink-3 {
    position: absolute;
    width: 9px;
    height: 1px;
    left: 333px;
    top: 1394.5px;

    border: 2px none #CBCCFF;
}

.pink-4 {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 688px;
    top: 1353px;

    background: #5D5DFF;
    border-radius: 32px;
}

.pink-5 {
    position: absolute;
    width: 22px;
    height: 18px;
    left: 709px;
    top: 1376px;

    border: 2px none #F4F4FF;
}

.pink-6 {
    position: absolute;
    width: 12px;
    height: 1px;
    left: 714px;
    top: 1380.5px;

    border: 2px none #CBCCFF;
}

.pink-7 {
    position: absolute;
    width: 12px;
    height: 1px;
    left: 714px;
    top: 1384.5px;

    border: 2px none #CBCCFF;
}

.pink-8 {
    position: absolute;
    width: 5px;
    height: 1px;
    left: 714px;
    right: 721px;
    top: 1388.5px;
    bottom: 3627.5px;

    border: 2px none #CBCCFF;
}

.pink-9 {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1078px;
    top: 1353px;

    background: #5D5DFF;
    border-radius: 32px;
}

.pink-10 {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1099px;
    top: 1374px;

    border: 2px none #F4F4FF;
}

.pink-11 {
    position: absolute;
    width: 1px;
    height: 22px;
    left: 1109.5px;
    top: 1374px;

    border: 2px none #F4F4FF;
}

.pink-12 {
    position: absolute;
    width: 22px;
    height: 1px;
    left: 1099px;
    top: 1384.5px;

    border: 2px none #F4F4FF;
}

.pink-13 {
    position: absolute;
    width: 11px;
    height: 22px;
    left: 1104.5px;
    top: 1374px;

    border: 2px none #CBCCFF;
}

.pink-14 {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 299px;
    top: 1647px;

    background: #5D5DFF;
    border-radius: 32px;
}

.pink-15 {
    position: absolute;
    width: 20px;
    height: 22px;
    left: 321px;
    top: 1668px;

    border: 2px none #F4F4FF;
}

.pink-16 {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 331px;
    top: 1674px;

    border: 2px none #CBCCFF;
}

.pink-17 {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 689px;
    top: 1647px;

    background: #5D5DFF;
    border-radius: 32px;
}

.pink-18 {
    position: absolute;
    width: 18px;
    height: 20.89px;
    left: 715px;
    top: 1668.11px;

    border: 2px none #F4F4FF;
}

.pink-19 {
    position: absolute;
    width: 4px;
    height: 12px;
    left: 715px;
    top: 1677.5px;

    border: 2px none #CBCCFF;
}

.pink-20 {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1078px;
    top: 1647px;

    background: #5D5DFF;
    border-radius: 32px;
}

.pink-21 {
    position: absolute;
    width: 21.39px;
    height: 19.82px;
    left: 1099px;
    top: 1670.18px;

    border: 2px none #F4F4FF;
}

.pink-22 {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 1113px;
    top: 1671px;

    border: 2px none #CBCCFF;
}

.pink-23 {
    position: absolute;
    width: 1px;
    height: 2px;
    left: 1115.5px;
    top: 1669px;

    border: 2px none #CBCCFF;
}

.pink-24 {
    position: absolute;
    width: 1px;
    height: 2px;
    left: 1118.12px;
    top: 1670.46px;

    border: 2px none #CBCCFF;
}

.sell-1 {
    position: absolute;
    left: 174px;
    right: 1254.02px;
    top: 2551px;
    bottom: 2457.01px;
}

.sell-2 {
    position: absolute;
    left: 174px;
    right: 1254.02px;
    top: 2586px;
    bottom: 2422.01px;
}

.sell-3 {
    position: absolute;
    left: 174px;
    right: 1254.02px;
    top: 2621px;
    bottom: 2387.01px;
}

.sell-4 {
    position: absolute;
    left: 778px;
    right: 650.02px;
    top: 3036px;
    bottom: 1972.01px;
}

.sell-5 {
    position: absolute;
    left: 778px;
    right: 650.02px;
    top: 3071px;
    bottom: 1937.01px;
}

.sell-6 {
    position: absolute;
    left: 778px;
    right: 650.02px;
    top: 3106px;
    bottom: 1902.01px;
}

.sell-7 {
    position: absolute;
    left: 174px;
    right: 1254.02px;
    top: 3521px;
    bottom: 1487.01px;
}

.sell-8 {
    position: absolute;
    left: 174px;
    right: 1254.02px;
    top: 3556px;
    bottom: 1452.01px;
}

.sell-9 {
    position: absolute;
    left: 174px;
    right: 1254.02px;
    top: 3591px;
    bottom: 1417.01px;
}

.bla-1 {
    position: absolute;
    width: 40px;
    height: 28px;
    left: 1102px;
    top: 2337px;
    bottom: 2652px;

    background: linear-gradient(360deg, rgba(85, 89, 95, 0.4) 0.66%, rgba(85, 89, 95, 0.4) 100%);
    box-shadow: 0px 0px 2px rgba(21, 23, 25, 0.04);
    border-radius: 2px;
}

.bla-2 {
    position: absolute;
    width: 4px;
    height: 8px;
    left: 1116px;
    top: 2347px;
}

.bla-3 {
    position: absolute;
    width: 4px;
    height: 8px;
    left: 1124px;
    top: 2347px;
}

.bla-4 {
    position: absolute;
    width: 64px;
    height: 28px;
    left: 1150px;
    top: 2337px;

    background: #5D5DFF;
    border-radius: 2px;
}

.bla-5 {
    position: absolute;
    width: 32px;
    height: 2px;
    left: 1166px;
    top: 2350px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.64;
}

.bla-6 {
    position: absolute;
    width: 40px;
    height: 28px;
    left: 1222px;
    top: 2337px;

    background: #36A269;
    box-shadow: 0px 0px 2px rgba(21, 23, 25, 0.04);
    border-radius: 2px;
}

.bla-7 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 1236px;
    top: 2345px;
}

.dla-1 {
    position: absolute;
    width: 508px;
    height: 45px;
    left: 754px;
    top: 2379px;

    background: rgba(51, 54, 58, 0.16);
    border: 1px none #33363A;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(21, 23, 25, 0.24);
    border-radius: 2px;
}

.dla-2 {
    position: absolute;
    left: 766px;
    right: 660px;
    top: 2395px;
    bottom: 2608px;

    mix-blend-mode: normal;
    opacity: 0.56;
    border: 1px solid #55595F;
    box-sizing: border-box;
    border-radius: 1px;
}

.dla-3 {
    position: absolute;
    left: 792px;
    right: 620px;
    top: 2388px;
    bottom: 2601px;

    box-shadow: 0px 0px 2px rgba(21, 23, 25, 0.04);
}

.dla-4 {
    position: absolute;
    left: 802px;
    top: 2397px;
    bottom: 2610px;
}

.dla-5 {
    position: absolute;
    height: 17px;
    left: 832px;
    right: 492px;
    top: 2392px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #D9E3EA;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.dla-6 {
    position: absolute;
    width: 32px;
    height: 22px;
    left: 1166px;
    top: 2391px;

    background: #48BB78;
    mix-blend-mode: normal;
    opacity: 0.24;
    border-radius: 12px;
}

.dla-7 {
    position: absolute;
    left: 1178.58px;
    right: 254.39px;
    top: 2397.7px;
    bottom: 2610.57px;
}

.dla-9 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1222px;
    top: 2390px;

    filter: drop-shadow(0px 0px 2px rgba(21, 23, 25, 0.04));
}

.dla-8 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1206px;
    top: 2390px;

    border: 2px none #282B2F;
    filter: drop-shadow(0px 0px 2px rgba(21, 23, 25, 0.04))
}

.kla-1 {
    position: absolute;
    width: 508px;
    height: 44px;
    left: 754px;
    top: 2432px;

    background: rgba(51, 54, 58, 0.16);
    border: 1px none #33363A;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(21, 23, 25, 0.24);
    border-radius: 2px;
}

.kla-2 {
    position: absolute;
    left: 766px;
    right: 660px;
    top: 2447px;
    bottom: 2556px;

    mix-blend-mode: normal;
    opacity: 0.56;
    border: 1px solid #55595F;
    box-sizing: border-box;
    border-radius: 1px;
}

.kla-3 {
    position: absolute;
    left: 792px;
    right: 620px;
    top: 2440px;
    bottom: 2549px;

    box-shadow: 0px 0px 2px rgba(21, 23, 25, 0.04);
}

.kla-4 {
    position: absolute;
    left: 802px;
    right: 628px;
    top: 2448px;
    bottom: 2557px;
}

.kla-5 {
    position: absolute;
    height: 17px;
    left: 832px;
    right: 399px;
    top: 2445px;
    bottom: 2555px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #D9E3EA;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.kla-6 {
    position: absolute;
    left: 1104px;
    right: 222px;
    top: 2442px;
    bottom: 2551px;

    background: rgba(51, 54, 58, 0.16);
    border: 1px none #33363A;
    box-sizing: border-box;
    border-radius: 12px;
}

.kla-7 {
    position: absolute;
    left: 1114px;
    right: 320px;
    top: 2451px;
    bottom: 2560px;
}

.kla-8 {
    position: absolute;
    height: 15px;
    left: 1126px;
    right: 232px;
    top: 2446px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #9BA9B4;
}

.kla-9 {
    position: absolute;
    width: 16px;
    height: 12px;
    left: 1230px;
    top: 2447px;
}

.kla-10 {
    position: absolute;
    width: 5.17px;
    height: 3.48px;
    left: 1230px;
    top: 2449px;
}

.kla-11 {
    position: absolute;
    width: 8.17px;
    height: 6px;
    left: 1237.83px;
    top: 2455px;
}

.tla-1 {
    position: absolute;
    width: 508px;
    height: 44px;
    left: 754px;
    top: 2484px;

    background: rgba(51, 54, 58, 0.16);
    border: 1px none #33363A;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(21, 23, 25, 0.24);
    border-radius: 2px;
}

.tla-2 {
    position: absolute;
    left: 766px;
    right: 660px;
    top: 2499px;
    bottom: 2504px;

    mix-blend-mode: normal;
    opacity: 0.56;
    border: 1px solid #55595F;
    box-sizing: border-box;
    border-radius: 1px;
}

.tla-3 {
    position: absolute;
    left: 792px;
    right: 620px;
    top: 2492px;
    bottom: 2497px;

    box-shadow: 0px 0px 2px rgba(21, 23, 25, 0.04);
}

.tla-4 {
    position: absolute;
    left: 801px;
    right: 629px;
    top: 2501px;
    bottom: 2504px;
}

.tla-5 {
    position: absolute;
    height: 17px;
    left: 832px;
    right: 467px;
    top: 2497px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #D9E3EA;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.tla-6 {
    position: absolute;
    left: 1150px;
    right: 222px;
    top: 2494px;
    bottom: 2499px;

    background: rgba(51, 54, 58, 0.16);
    border: 1px none #33363A;
    box-sizing: border-box;
    border-radius: 12px;
}

.tla-7 {
    position: absolute;
    left: 1160px;
    right: 274px;
    top: 2503px;
    bottom: 2508px;
}

.tla-8 {
    position: absolute;
    height: 15px;
    left: 1172px;
    right: 232px;
    top: 2498px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #9BA9B4;
}

.tla-9 {
    position: absolute;
    width: 16px;
    height: 12px;
    left: 1230px;
    top: 2499px;
}

.tla-10 {
    position: absolute;
    width: 5.17px;
    height: 3.48px;
    left: 1230px;
    top: 2501px;
}

.tla-11 {
    position: absolute;
    width: 8.17px;
    height: 6px;
    left: 1237.83px;
    top: 2507px;
}

.pla-1 {
    position: absolute;
    width: 508px;
    height: 45px;
    left: 754px;
    top: 2536px;

    background: rgba(51, 54, 58, 0.16);
    border: 1px none #33363A;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(21, 23, 25, 0.24);
    border-radius: 2px;
}

.pla-2 {
    position: absolute;
    left: 766px;
    right: 660px;
    top: 2552px;
    bottom: 2451px;

    mix-blend-mode: normal;
    opacity: 0.56;
    border: 1px solid #55595F;
    box-sizing: border-box;
    border-radius: 1px;
}

.pla-3 {
    position: absolute;
    left: 792px;
    right: 620px;
    top: 2545px;
    bottom: 2444px;

    box-shadow: 0px 0px 2px rgba(21, 23, 25, 0.04);
}

.pla-4 {
    position: absolute;
    left: 805px;
    right: 628px;
    top: 2553px;
    bottom: 2452px;
}

.pla-5 {
    position: absolute;
    height: 17px;
    left: 832px;
    right: 461px;
    top: 2549px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #D9E3EA;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.pla-6 {
    position: absolute;
    width: 40px;
    height: 24px;
    left: 1158px;
    top: 2547px;

    background: rgba(51, 54, 58, 0.16);
    border: 1px none #33363A;
    box-sizing: border-box;
    border-radius: 12px;
}

.pla-7 {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 1172px;
    top: 2557px;

    mix-blend-mode: normal;
    opacity: 0.64;
}

.pla-8 {
    position: absolute;
    width: 5px;
    height: 5px;
    left: 1179px;
    top: 2553px;

    mix-blend-mode: normal;
    opacity: 0.64;
}

.pla-9 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1206px;
    top: 2547px;

    border: 2px none #282B2F;
    filter: drop-shadow(0px 0px 2px rgba(21, 23, 25, 0.04));
}

.pla-10 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1222px;
    top: 2547px;

    filter: drop-shadow(0px 0px 2px rgba(21, 23, 25, 0.04));
}

.mla-1 {
    position: absolute;
    width: 508px;
    height: 45px;
    left: 754px;
    top: 2589px;

    background: rgba(51, 54, 58, 0.16);
    border: 1px none #33363A;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(21, 23, 25, 0.24);
    border-radius: 2px;
}

.mla-2 {
    position: absolute;
    left: 766px;
    right: 660px;
    top: 2605px;
    bottom: 2398px;

    mix-blend-mode: normal;
    opacity: 0.56;
    border: 1px solid #55595F;
    box-sizing: border-box;
    border-radius: 1px;
}

.mla-3 {
    position: absolute;
    left: 792px;
    right: 620px;
    top: 2598px;
    bottom: 2391px;

    box-shadow: 0px 0px 2px rgba(21, 23, 25, 0.04);
}

.mla-4 {
    position: absolute;
    left: 803px;
    right: 630px;
    top: 2606px;
    bottom: 2399px;
}

.mla-5 {
    position: absolute;
    height: 17px;
    left: 832px;
    right: 423px;
    top: 2602px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #D9E3EA;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.mla-6 {
    position: absolute;
    width: 40px;
    height: 24px;
    left: 1174px;
    top: 2600px;

    background: rgba(51, 54, 58, 0.16);
    border: 1px none #33363A;
    box-sizing: border-box;
    border-radius: 12px;
}

.mla-7 {
    position: absolute;
    width: 12.01px;
    height: 12.01px;
    left: 1188px;
    top: 2606px;

    mix-blend-mode: normal;
    opacity: 0.64;
}

.mla-8 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1222px;
    top: 2600px;

    filter: drop-shadow(0px 0px 2px rgba(21, 23, 25, 0.04));
}

.vla-1 {
    position: absolute;
    width: 40px;
    height: 28px;
    left: 1222px;
    top: 2651px;

    background: linear-gradient(360deg, rgba(156, 169, 179, 0.16) 0.2%, rgba(156, 169, 179, 0.16) 100%);
    box-shadow: 0px 0px 2px rgba(21, 23, 25, 0.04);
    border-radius: 2px;
}

.vla-2 {
    position: absolute;
    width: 2px;
    height: 7px;
    left: 1248px;
    top: 2661px;
}

.vla-3 {
    position: absolute;
    width: 6px;
    height: 4px;
    left: 1240px;
    top: 2659px;
}

.zal-1 {
    position: absolute;
    width: 2px;
    height: 11px;
    left: 772.5px;
    top: 2423px;

    mix-blend-mode: normal;
    opacity: 0.8;
    border: 2px none #55595F;
}

.zal-2 {
    position: absolute;
    width: 2px;
    height: 11px;
    left: 772.5px;
    top: 2475px;

    mix-blend-mode: normal;
    opacity: 0.8;
    border: 2px none #55595F;
}

.zal-3 {
    position: absolute;
    width: 2px;
    height: 11px;
    left: 772.5px;
    top: 2527px;

    mix-blend-mode: normal;
    opacity: 0.8;
    border: 2px none #55595F;
}

.zal-4 {
    position: absolute;
    width: 2px;
    height: 11px;
    left: 772.5px;
    top: 2580px;

    mix-blend-mode: normal;
    opacity: 0.8;
    border: 2px none #55595F;
}

.mak {
    position: absolute;
    width: 1px;
    height: 22px;
    left: 974px;
    right: 465px;
    top: 2495px;
    bottom: 2500px;
    margin-left: -24px;
}

.mak-1 {
    position: absolute;
    width: 8px;
    height: 16px;
    left: 795px;
    top: 2340px;
}

.mak-2 {
    position: absolute;
    width: 8px;
    height: 16px;
    left: 795px;
    top: 2348px;
}